<% content_for :title do %>
	Stránky
<% end %>
<table class="full-length" id="site-map">
	<thead>
		<tr>
			<th class="page">Stránka</th>
			<th class="status">Stav</th>
			<th class="modify" colspan="3">Možnosti</th>
		</tr>
	</thead>
	<tbody id="pageslist">
		<%= render :partial => 'admin/pages/list_pages' %>
	</tbody>
</table>
<br />
<% if Configuration['site.langs'].size > 1 %>
<div>
	Zobrazit jazyk:
	<% Configuration['site.langs'].each do |lang| %>
		<%= link_to_remote image_tag("flagicons/#{lang}.png"), :url => admin_pages_list_path(lang), :update => 'pageslist' %>
	<% end %>
</div>
<% end %>