Tento email obsahuje informace k znovunastavení hesla pro administraci <%= @sven_host %>. Pokud jste si tento mail nevyžádal, jednoduše jej ignorujte.
Pokud ano, otevřete tento email:

<%= @edit_password_reset_url %>

Jestliže tento odkaz nefunguje, zkuste ho zkopírovat do svého prohlížeče.
Pokud i tak problémy přetrvávají, nebojte se, a kontaktujte Vašeho administrátora na adrese <%= "<a href=\"mailto:#{ @admin_mail }\">#{ @admin_mail }</a>"%>.