<table class="full-length">
	<tr>
		<td><%= form.object.new_record? ? "Heslo" : "Nové heslo" %></td>
		<td><%= form.password_field :password %></td>
	</tr>
	<tr>
		<td>Potvrzení hesla</td>
		<td><%= form.password_field :password_confirmation %></td>
	</tr>
</table>